<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
   <h1>FoodStars</h1>
     <%= image_tag "logo.png", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>
      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <%= image_tag "dashboard.png", height: 24 %>
      </div>
      <%= link_to new_meal_path, class: "navbar-wagon-item" do %>
        <%= image_tag "add.png", height: 24 %>
      <% end %>
      <div class="navbar-wagon-item">
        <%= image_tag("logout", height: 24)%>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

</div>
