 <div class="container">
  <h1 class="page-title"></h1>
  <p class="page-description"></p>

  <div class="row">
	  <% @meals.each do |meal| %>
		  <div class="col-xs-12 col-sm-6 col-md-3">
			<%= link_to meal do  %>
			  <div class="food-card">
			    <div class="card">
			      <div class="card-img image-ratio">
			        <div class="ratio-inner"><%= image_tag meal.photo %></div>
			      </div>
			      <div class="card-content">
			        <div class="content">
			          <h3 class="title"><%= meal.name %></h3>
			          <p class="description">
			           <ul>
			          	<li><%=meal.type_of_food%></li>
			          	<li>The meal in <%=meal.location%></li>
			          	<li>Seats avaliable - <%=meal.capacity%></li>
			          	<li>Price <%=meal.price%> Nis</li>
			          	<li>It will be on - <%=meal.date%></li>
			           </ul>
			          </p>
			        </div>
			      </div>
			    </div>
			  </div>
			<% end %>
		  </div>
	  <% end %>
  </div>
 	
 </div>


