<h1> Meals details</h1>
<br>

<ul>
	<% @meals.each do |dose| %>
		<li><%= meal.name %> </li>
		<li>'Meal type'<%=type_of_food.meal%></li>
		<li>"The location :" <%=meal.location%></li>
		<li>"Numer of the guests:<%=meal.capacity%></li> 
		<li>"The date: "<%=meal.date%></li>
		<li>"Meal price" <%=meal.price%></li>
	<% end %>
</ul>

<br>
