<div class = "main">
  <div class="meal-wrapper">
    <div class ="meal-details">
    	<h1><%= @meal.name %> </h1>
      <div class="details">
    		<h3><%=@meal.type_of_food%></h3>
    		<p><%=@meal.location%></p>
    		<p>Sits available:<%=@meal.capacity%></p>
    		<p><%=@meal.date%></p>
    		<p>$<%=@meal.price%></p>

<%= link_to "Book your meal!",  meal_booking_path(@meal.id), method: :post, class: "btn btn-success"  %>
      </div>

    </div>

    <div class="map"> <%= image_tag "map.jpg" %></div>
  </div>


  <div class ="meal-photo" style="background-image: url(<%= image_path @meal.photo %>);">
  </div>

</div>
