


<div class = "moredetails">


    <div class ="meal-details">
		<h1><%= @meal.name %> </h1>

		<h2>'Meal type :'<%=@meal.type_of_food%></h2>
		<h2>"The location :" <%=@meal.location%></li>
		<h2>"Numer of the guests:<%=@meal.capacity%></h2>
		<h2>"The date: "<%=@meal.date%></h2>
		<h2>"Meal price" <%=@meal.price%><h2>
    </div>

    <div class ="meal-photo">
		"Meal photo" <%=@meal.photo%>
	</div>	

</div>