<h1> Meals details</h1>
<br>

<ul>
		<li><%= @meal.name %> </li>
		<li>'Meal type'<%=@meal.type_of_food%></li>
		<li>"The location :" <%=@meal.location%></li>
		<li>"Numer of the guests:<%=@meal.capacity%></li> 
		<li>"The date: "<%=@meal.date%></li>
		<li>"Meal price" <%=@meal.price%></li>
</ul>

<br>
