<div class = "main">
  <div class ="meal-details">
  	<h1><%= @meal.name %> </h1>
    <div class="details">
  		<h2>'Meal type :'<%=@meal.type_of_food%></h2>
  		<h2>"The location :" <%=@meal.location%></h2>
  		<h2>"Numer of the guests:<%=@meal.capacity%></h2>
  		<h2>"The date: "<%=@meal.date%></h2>
  		<h2>"Meal price" <%=@meal.price%></h2>
    </div>
    <%= link_to "Book your meal!",  new_meal_booking_path(@meal.id), class: "btn btn-success"  %>
  </div>
  <div class ="meal-photo" style="background-image: url(<%= image_path @meal.photo %>);">
  </div>
</div>
